.eval-navigation .steps .stepNav {
  width: 12%;
  display: inline-block;
  text-align: center;
  min-height: 53px; }
.eval-navigation .steps[id='district'] {
  display: none; }
  .eval-navigation .steps[id='district'] .stepNav {
    width: 15% !important; }
.eval-navigation .steps[id='school'] .stepNav {
  width: 12%; }

/*# sourceMappingURL=ie.css.map */
