#eop-wrap {
  display: block; }
  #eop-wrap form {
    min-height: 999px; }

.eval-header .col-xs-12 {
  width: 50% !important; }
.eval-header .header-content .topic-container .logo {
  display: inline-block; }

@media only screen and (max-width: 480px) {
  .eval-header .col-xs-12 {
    width: 100%; }
  .eval-header .header-content .topic-container .logo {
    display: inline-block; } }
.eval-content .col-xs-12 {
  width: 33% !important; }
.eval-content > fieldset:nth-child(2n) {
  background-color: #eee; }
.eval-content .even {
  background-color: #eee; }

@media only screen and (max-width: 480px) {
  .eval-content .col-xs-12 {
    width: 100%; } }
.eval-navigation .steps .stepNav {
  width: 12%;
  display: inline-block;
  text-align: center;
  min-height: 53px; }
.eval-navigation .steps ul li span {
  height: 50px;
  line-height: 46px; }

/*# sourceMappingURL=ie8.css.map */
