.eval-header .header-content .topic-container .logo {
  display: inline-block; }

.eval-navigation .steps .stepNav {
  width: 12%;
  display: inline-block;
  text-align: center;
  min-height: 53px; }
.eval-navigation .steps[id='district'] {
  display: none; }
  .eval-navigation .steps[id='district'] .stepNav {
    width: 16% !important; }
.eval-navigation .steps[id='school'] .stepNav {
  width: 12%; }

.rtWrapper {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important; }

/*# sourceMappingURL=ie9.css.map */
