.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

.eval-header {
  padding: 10px 0 0; }
  .eval-header .header-content .topic-container {
    float: left;
    padding: 0;
    margin-bottom: 10px;
    line-height: 0px; }
    .eval-header .header-content .topic-container h1 {
      font-size: 22px;
      font-weight: bold; }
    .eval-header .header-content .topic-container .logo {
      display: none; }
  .eval-header .header-content .link-container {
    padding: 0;
    float: left;
    text-align: left; }
    .eval-header .header-content .link-container ul {
      padding: 0; }
      .eval-header .header-content .link-container ul li {
        line-height: 22px; }

@media only screen and (max-width: 480px) {
  .eval-header .header-content .topic-container h1 {
    display: block; }
  .eval-header .header-content .link-container ul li {
    display: block !important; } }
.eval-content h1 {
  font-size: 22px; }
.eval-content p {
  line-height: 18px; }
.eval-content section {
  min-height: 105px; }
  .eval-content section div {
    padding: 5px 0; }

.eval-footer .pageNo {
  text-align: right;
  padding: 0 20px; }

.eval-navigation .steps ul li span {
  font-size: 10px;
  padding: 5px 0 0;
  line-height: 11px; }

@media only screen and (max-width: 480px) {
  .eval-navigation {
    display: none; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .eval-navigation .steps ul li a {
    line-height: 9px; } }

/*# sourceMappingURL=xsmall.css.map */
