.eval-footer {
    
    display: block;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 4px solid $header-color;
    padding-top: .5em;
    margin-top: 20px;

    .bottom-logo-container {
        display: inline-block;
        text-align: left;
        
        .DOEcr {
           margin: 5px 0;
           font-size: 10px; 
        }  
    }
    
    .pageNo {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        margin: 1.5em 0 0 0;
    }   
    
    
}