.eval-navigation {
      
    .steps {

        
          .stepNav {
            width: 12%;  
            display: inline-block;
            text-align: center;
            min-height: 53px;
        } 
        
               

        ul {
 

            li {
                  
                span {
                    height: 50px;
                    line-height: 46px;
                }
                                   
                 a:hover {

                }               
            }   
        }
    }
    

}