.eval-navigation {
    
    .steps {
              
        ul {

            li {

                span {
                    line-height: 15px;
                    padding: 15px 0 0;
                }
                                                 
            }   
        }
    }
      
}
// IE SPECIFIC STYLES

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
    .eval-navigation {

        .steps {

            .stepNav {

            } 

            ul {

                li {

                    &:first-child {
                    }   

                    span {
                        line-height: 15px;
                        padding: 12px 0 0;
                    }

                    a:hover {
                      
                    }               
                }   
            }
        }

        /// for the district steps -- hide by default

        .steps[id='district'] {

            .stepNav {
            }      
        }   

        /// for the school steps

        .steps[id='school'] {   

            .stepNav {
            }      
        } 

    }

}