.eval-navigation {
    
    .steps {
        
        ul {
            
            li {
                
                span {
                    font-size: 10px;
                    padding: 5px 0 0;
                    line-height: 11px;
                }
                                               
            }   
        }
    }
}


@media only screen and (max-width : 480px) {
    
 .eval-navigation {
     display: none;

}   

}


// IE SPECIFIC STYLES

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
    .eval-navigation {

        .steps {

            .stepNav {

            } 

            ul {

                li {

                    &:first-child {
                    }   

                    a {
                        line-height: 9px;
                    }

                    a:hover {
                      
                    }               
                }   
            }
        }

        /// for the district steps -- hide by default

        .steps[id='district'] {

            .stepNav {
            }      
        }   

        /// for the school steps

        .steps[id='school'] {   

            .stepNav {
            }      
        } 

    }

}