.eval-navigation {
      
    .steps {

        
          .stepNav {
            width: 12%;  
            display: inline-block;
            text-align: center;
            min-height: 53px;
        } 
        
               

        ul {
 

            li {
                  
                span {

                }
                                   
                 a:hover {

                }               
            }   
        }
    }
    
   /// for the district steps -- hide by default
   
         .steps[id='district'] {
              display: none;
              .stepNav {
                width: 15% !important;
            }      
        }   
    
    /// for the school steps

         .steps[id='school'] {   
             
              .stepNav {
                width: 12%;
            }      
        } 
    
}