.eval-navigation {
    
    width: 100%;
    height: 53px;
    display: block;
    background-color: $navigation-color;
    border-top: 1px solid #fff;
    
    .steps {
        display: inline;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        
          .stepNav {
            width: 13%;  
            display: inline-block;
            text-align: center;
            min-height: 53px;
        } 
        
          .selectedNav {
            color: #fff;
            background-color: $header-border-color; 
            text-decoration: none;
        }
        
           .visitedNav {
            color: $header-color;
            background-color: $visited-nav-color;
            text-decoration: none;
        }        

        ul {
            display: inline-flex; 
            list-style: none;
            margin:0 !important;
            padding: 0 !important;
            width: 100%;

            li {
                display: inline-block;
                border-right: 2px solid #fff;
                
                &:first-child {
                        border-left: 2px solid #fff;
                    }   

                span {
                    color: #515151;
                    font-size: 14px;
                    font-weight: bold;                   
                    display: block;
                    text-align: center;
                    width: 100%;
                    height: 52px;
                    position: relative;
                }
                                   
                 a:hover {
                    color: #fff;
                    background-color: $header-border-color; 
                    text-decoration: none;
                }               
            }   
        }
    }
    
   /// for the district steps -- hide by default
   
         .steps[id='district'] {
              display: none;
              .stepNav {
                width: 17% !important;
            }      
        }   
    
    /// for the school steps

         .steps[id='school'] {   
             
              .stepNav {
                width: 13%;
            }      
        } 
    
}

// IE SPECIFIC STYLES

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
    .eval-navigation {

        .steps {

            .stepNav {

            } 

            ul {

                li {

                    &:first-child {
                    }   

                    a {
                        padding: 11px 0 0;
                        line-height: 16px;
                       
                    }

                    a:hover {
                       
                    }               
                }   
            }
        }

        /// for the district steps -- hide by default

        .steps[id='district'] {

            .stepNav {
            }      
        }   

        /// for the school steps

        .steps[id='school'] {   

            .stepNav {
            }      
        } 

    }

}