.eval-navigation {
    
    .steps {
        
        ul {
            
            li {
                
                span {
                    line-height: 15px;
                  
                }
                                               
            }   
        }
    }
}

// IE SPECIFIC STYLES

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
    .eval-navigation {

        .steps {

            .stepNav {

            } 

            ul {

                li {  

                    span {
                        padding: 0;
                        line-height: 12px;
                    }

                    a:hover {
                      
                    }               
                }   
            }
        }

        /// for the district steps -- hide by default

        .steps[id='district'] {

            .stepNav {
            }      
        }   

        /// for the school steps

        .steps[id='school'] {   

            .stepNav {
            }      
        } 

    }

}