.eval-navigation {
    
    .steps {
              
        ul {

            li {

                span {
                    line-height: 13px;
                    padding: 14px 0 0;
                }
                                                 
            }   
        }
    }
      
}