//OVERRIDE MPE.CSS


//modal background

.magnetMPE {
    background-color: #000 !important;
    filter: alpha(opacity=50)!important;
    opacity: 0.5 !important;
}


.mpeDiv {
    width: 400px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.28) !important; 
    
    
    .mpeDivHeader {
        display: block;
        background-image: none !important;
        background-color: #005990 !important;
        font-size: 18px !important;
        font-weight: bold;
        padding: 5px !important;
        color: #fff;
        margin: 0;
        border-bottom: 3px solid #84B537;
        
        
        .closeit {
            display: none !important;
        }
    }


    #Contentmain_UpdatePanel2 {
        padding: 20px;
        
        table {
            
            tr {
                
                td {
                    font-weight: bold !important;
                    padding: 10px 0 !important;
                }
            }
            
        }
    } 
}


#Contentmain_Panel1_DropShadow {
    display: none !important;
}