.RadToolTip {

    .rtLoading {

    }

    .rtWrapper {
        
        display: block;
        border: 2px solid $header-link-hover !important;
        height: auto !important;
        background-color: $header-border-color !important;
        padding: 5px !important;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

        .rtWrapperTopLeft,.rtWrapperTopRight,.rtWrapperBottomLeft,.rtWrapperBottomRight,.rtWrapperTopCenter,.rtWrapperBottomCenter {

            background-image: none !important;
        }

        .rtWrapperLeftMiddle,.rtWrapperRightMiddle {

            background-image: none !important;
        }

        .rtWrapperContent {
            
            background-color: $header-border-color !important;
            color: $header-link-hover !important;
            font-family: Helvetica, Arial, sans-serif !important;
            font-size: 14px !important;
            font-weight: normal;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 18px !important;
        }
        
        
        
        a {
           color: $content-link-color !important;
            text-decoration: underline;
            
            &:hover {
               color: #fff!important; 
                
            }
        }

    }

    table {

        .rtShadow {

            .rtWrapperTopLeft,.rtWrapperTopRight,.rtWrapperBottomLeft,.rtWrapperBottomRight,.rtWrapperTopCenter,.rtWrapperBottomCenter {

                background-image: none !important; 
            }

            .rtWrapperLeftMiddle, .rtWrapperRightMiddle {
                background-image: none !important;          
            }
        }

    }


    .rtTitlebar {
       display: none !important;
    }

    .rtCallout {
        display: none !important;
    }
    
    a.rtCloseButton {
        
		background-image: none !important;
        border-radius: 50%;
        border: 1px solid $header-link-hover;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        background-color: $header-color;
        color: $header-link-hover !important;
        height: 25px !important;
        width: 25px !important;
        top: -18px !important;
        right: -18px !important;
        font-size: 14px;
        font-weight: bold;
            
        > span {
                display: block;
                height: 25px;
                width: 25px;
                background-image:url('../img/tooltip-close.png') !important;
            }

        &:hover {
         background-color: $navigation-color;   
        }
    }
        
}