   .rtWrapper {
 
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5)!important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5)!important;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5)!important;
   }