$header-link-color: #efefef; // 
$header-link-hover: #fff;
$header-color: #005990;
$header-border-color: #84B537;
$navigation-color: #ccc;
$prevNext-btn-color: #0054a0;
$content-header-color: #03447f;
$content-link-color: #0172B8;
$content-link-hover: #85962a;
$input-button-hover: #5b9cd6;
$note-color: #E3ECF3;
$visited-nav-color: #eee;

html, body {
   height: 100%;
}


    #eop-wrap {

        display: block;
        
        form {
                min-height: 100vh;
        }
    }

    .row {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    .question {
        font-weight: bold;
    }
    
    select {
       background-color: $header-color;
        color: $header-link-hover;
        height: 32px;
        padding-left: 5px;
    }


    input[type=button], input[type=submit], input[type=reset] {
        background-color: $header-color;
        color: $header-link-color;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        padding: 6px;
        outline: none!important;
        border: none;
}


    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: $input-button-hover;
        color: $header-link-hover;
    }


    input[type=radio] { 
        margin-right: 6px!important;
    }

    input[value="Previous"] { 
        margin-right: 10px;
    }


 // JEFF NEEDS THIS TO BE NORMAL
    label {
      font-weight: normal !important;
    }


  // for testing breakpoints
    .breakPoint-test{
        display: block;
        width: 100%;
        .breakPoint {
            font-size: 18px;
            font-weight: bold;
            color: #ff0000;
        }
    }

 // add a small margin to right of object
    .pad-right {
       margin-right: 20px;   
    }

 // add a small margin to left of object
    .pad-left {
       margin-left: 20px;   
    }


// add a small margin to left of question selections
    .pad-selection-left {
       margin-left: 15px;   
    }
