.eval-header {
          
    
    .header-content {

        .topic-container {

                h1 {
                    
                }
                .logo {
                    display: inline-block;

                }
        }

        .link-container {


            ul { 
                
                li {
                   

                 a {
                  

                        &:first-child {
                            
                        }                
                    }
                a:hover {
                  
                    }               

                }
            }
        }

    }
       
}