.eval-header {
    padding: 10px 0 0;  

    .header-content {

        .topic-container {
            float: left;
            padding:0;
            margin-bottom: 10px;
            line-height: 0px;

            h1 {
                font-size: 22px;
                font-weight: bold;
            }

            .logo {
                display: none;  
            }            

        }

        .link-container {
            padding: 0;
            float: left;
            text-align: left;
            
            ul {
                padding: 0;
                
                li {
                    line-height: 22px;
                }
            }
        }

    }

}



@media only screen and (max-width : 480px) {
    
    .eval-header {

        .header-content {

            .topic-container {

                    h1 {
                        display: block;
                    }
                }

                .link-container {

                    ul {

                        li {
                            display: block !important;
                        }
                    }
                }

        }

    } 

}