.eval-header {
          
    .header-content {

        .link-container {

            ul { 

                li {
                    line-height: 32px;             

                }
            }
        }

    }
       
}