.eval-header {
       
    .col-xs-12 {
        width: 50%!important;
    }
    
    
    .header-content {

        .topic-container {

                h1 {
                    
                }
                .logo {
                    display: inline-block;

                }
        }

        .link-container {


            ul { 
                
                li {
                   

                 a {
                  

                        &:first-child {
                            
                        }                
                    }
                a:hover {
                  
                    }               

                }
            }
        }

    }
       
}


 @media only screen and (max-width : 480px) {
     
     .eval-header {

        .col-xs-12 {
            width: 100%;
        }


        .header-content {

            .topic-container {

                    h1 {

                    }
                    .logo {
                        display: inline-block;

                    }
            }

            .link-container {


                ul { 

                    li {


                     a {


                            &:first-child {

                            }                
                        }
                    a:hover {

                        }               

                    }
                }
            }

        }

    }    
     
     
}