.eval-header {
       
    width: 100%;
    min-height: 76px;
    padding: 0;
    margin: 0;
    background-color: $header-color;
    border-bottom: 6px solid $header-border-color;
    
    .header-content {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

        .topic-container {
            display: inline-block;
            text-align: left;
            padding: 0;
            margin: 0;
            line-height: 76px;

                h1 {
                    display: inline-block;
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 0 20px 0 0;
                    vertical-align: middle;
                    height: 38px;
                    width: 240px;
                    
                }
                .logo {
                    display: inline-flex;
                    width: 38px;
                    height: 56px;
                    margin: -12px 0 0;
                    padding: 0; 
                    vertical-align: middle;
                }
        }

        .link-container {
            display: inline-block;
            text-align: right;
            font-size: 12px;
            font-weight: bold;

            ul { 
                list-style: none;
                li {
                    display: inline-block;
                    line-height: 65px;

                 a {
                    display: block;
                    color: $header-link-color;
                    text-decoration: none;
                    vertical-align: middle;

                        &:first-child {
                            margin-right: 10px;
                        }                
                    }
                a:hover {
                    color: $header-link-hover;
                    text-decoration: none;
                    }               

                }
            }
        }

    }
       
}