.eval-content {
    
    .col-xs-12 {
        width: 33%!important;
    }

    > fieldset:nth-child(2n){
        background-color:#eee;
    }
    
    .even {
        background-color:#eee; 
    }

}

 @media only screen and (max-width : 480px) {
     
     .eval-content {

        .col-xs-12 {
            width: 100%;
        }

    }    
  
}
