.eval-content {
    position: relative;
    display: block;
    clear: both;


    h1 {
        font-family: 'Marcellus', serif;
        font-size: 25px;
        color: $content-header-color; 
        text-align: center;
        margin-bottom: 20px;
    }
    
     h2 {
        font-family: 'Marcellus', serif;
        font-size: 22px;
        color: $content-header-color; 
        text-align: left;
        margin-bottom: 10px;
    }   
    

    p {
        font-weight: normal;
        line-height: 20px;
    }

    a {
        color: $content-link-color;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: $content-link-hover;
        text-decoration: none;
    }  
    
    ul {
        display: block;
        margin-left: -23px;
        line-height: 24px;
        
        li {
            display: list-item;
        }   
    }
    
    
     ul.no-list {
        display: block;
        margin-left: -39px;
        list-style: none;
        
        li {

        }   
    }   
    
    section {
        margin: 0;  
        padding: 20px 0;
        min-height: 80px;
        display: block;
        border-bottom: 3px solid #ccc;

        div {
            display: inline-block;
            padding: 0;
        }
          div.question, div.subquestion, div.testtable, div.errorMessage {
            display: block;
            width: 100%;
        }    
        
    }


    fieldset {
        position: relative;
        display: block;
        width: 100%;
        padding: 3px 0;

        .questionBlock {
            width: 100%;
            display: block;
            padding: 0 0 0 10px;
            
            &:first-child {
                margin-top: 15px;
            }

            input {
                margin-left: 20px;
                margin-right: 5px;
            }

            label {
                font-weight: normal;    
            }
        }

        legend {
            display: block;
            font-size: 14px;
            font-weight: bold;
        }

        &:nth-child(even) {  
           background-color: #eee;
        }
    }  
    
    @-moz-document url-prefix() { 
        section {
            display: table;
            width: 100%;
        }
  fieldset {
      float: left;
  }
}
    
    
   // special case for EOP DISTRICT TOOL
    
    
    fieldset#Contentmain_districtplan1, fieldset#districtplan1 {

        .questionBlock {
            padding: 10px 0 0 10px !important;

            &:nth-child(even) {  
                background-color: #eee !important;
            }
        } 
    }
  
     

    .topic {
        width: 100%;
        font-weight: bold;
        text-align: center;
        background-color: $header-color; 
        color: $header-link-hover;
        margin: 10px 0;
        padding: 5px 0;
        text-transform: uppercase;
        border-bottom: 3px solid $header-border-color;
    }   


    .first-section {
        margin-top: 20px;
    } 
    
     .last-section {
        margin-top: 30px;
    } 
    
    .subquestion {
        margin: 20px 0;
    }

    .intro-note {
        display: block;
        margin: 20px 0;
        padding: 10px;
        width: 100%; 
        background-color: $note-color;
    }
    
    .final-message {
        display: block;
        position: relative;
        font-weight: bold;
        margin-top: 50px;
    }

}



.eval-prev-next {
    display: block;
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    padding: 0;
    
    > input {
        display: inline-block;
        margin: 0 0 0 1em;
    }
}