.eval-content {

    h1 {
        font-size: 22px; 
    }

    p {
        line-height: 18px;
    }

    section {
        min-height: 105px;

            div {
                padding: 5px 0;
            }
    }

}